@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><span id="count">&nbsp;</span> people agree this website is really useful!</h1>
    <button id="upvote">Definitely!</button>
    <button id="downvote">No way!</button>
</div>

<script type="text/javascript" src="@Url.Action("Index", "Counter")"></script>
